# Core functionality - changes here should be rare!
/src/app.py                   @VeeZiiOS
/src/backend/database.py      @VeeZiiOS
/src/backend/routers/auth.py  @VeeZiiOS

# The frontend will need refactored soon to be more object oriented.
/src/static/   @VeeZiiOS
